{% extends "layout.html" %}
{% from 'layout.html' import navbar2, myscripts %}

{% block title %}dispacher2.::.Users{% endblock%}
{% block nav %}
    {% call navbar2() %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Control Panel <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="/projects">Projects</a></li>
                <li><a href="/activities">Activities</a></li>
                <li><a href="/quantities">Measuration Qty</a></li>
                <li><a href="/input">Data Input</a></li>
                <li><a href="/boq">Project Data</a></li>
                <li class="divider"></li>
                <li class="nav-header">Admin Panel</li>
                <li><a href="/users">Users</a></li>
                <li><a href="/settings">Settings</a></li>
            </ul>
        </li>
    {% endcall %}
{% endblock %}
{% block scripts%}
    {% call myscripts() %}
    {% endcall %}
{% endblock %}
